<div id="z">
  <form>
  <div *ngIf="storageservice.usuarioLogeado.perfil!='Administrador'">
  <h4 class="card-header">Reserva de Vehiculos</h4>
 
    <div class="form-group row">
      <div class="col">
        <input class="form-control" [readonly]="true" required placeholder="Marca del vehiculo"  name="marca" id="marca" #marca="ngModel" [(ngModel)]="nuevo.vehiculo.marca">
      </div>
      <div class="col">
        <input class="form-control" [readonly]="true" required placeholder="Modelo del vehiculo"  name="modelo" [(ngModel)]="nuevo.vehiculo.modelo" #modelo="ngModel">
      </div>
    </div>
    <div class="form-group row">
      <div class="col">
        <input class="form-control" type="number" placeholder="Dias de Reserva" name="dias" id="dias" #dias="ngModel" [(ngModel)]="nuevo.dias" (ngModelChange)="precio()" required>
      </div>
      <div class="col">
        <input class="form-control" placeholder="Precio de alquiler" name="costo" #costo="ngModel" [(ngModel)]="nuevo.costoRenta" [readonly]="true" required>
      </div>
    </div>
</div>

  <div class="card-footer">
    <div class="row justify-content-end" id="buttons">
      <button class="btn btn-info" (click)="consultarReservas()" *ngIf="storageservice.usuarioLogeado.perfil!='Administrador'" >
        <i fa class="fa fa-list"></i> Mis Reservas</button>
        <button class="btn btn-info" (click)="consultarReservas()" *ngIf="storageservice.usuarioLogeado.perfil=='Administrador'" >
            <i fa class="fa fa-list"></i> Listar Reservas</button>
      <button class="btn btn-success" [disabled]="!valid()" *ngIf="storageservice.usuarioLogeado.perfil!='Administrador'" (click)="reservar()">
        <i fa class="fa fa-check" ></i> Reservar</button>
    </div>
  </div>
</form>
  </div>
<div class="container">
  <table class="table table-striped" [mfData]="reservaArray" #mf="mfDataTable" [mfRowsOnPage]="5">
    <thead>
      <tr>
        <th>
          <mfDefaultSorter by="usuario.nombres">Usuario</mfDefaultSorter>
        </th>
        <th>
          <mfDefaultSorter by="vehiculo.patente">Patente del Vehiculo</mfDefaultSorter>
        </th>
        <th>
          <mfDefaultSorter by="dias">Duracion de reserva</mfDefaultSorter>
        </th>
        <th>
          <mfDefaultSorter by="costoRenta">Costo de Renta</mfDefaultSorter>
        </th>
        <th>
          <mfDefaultSorter by="fechaRenta">Fecha de reserva</mfDefaultSorter>
        </th>
        <th>
            <mfDefaultSorter by="estado">Estado</mfDefaultSorter>
          </th>
        <th>Modificar</th>
        <th>Eliminar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of mf.data">
        <td>{{item.usuario.nombres}}</td>
        <td>{{item.vehiculo.patente}}</td>
        <td>{{item.dias}}</td>
        <td>{{item.costoRenta}}</td>
        <td>{{item.fechaRenta.timestamp * 1000 | date: 'dd/MM/yyyy'}}</td>
        <td>{{item.estado}}</td>
        <td>
        <button class="btn btn-info" (click)="detalles(item)" data-toggle="modal" [disabled]="mod(item)" data-target="#modificar"><i fa class="fa fa-cog"></i> Modificar</button>  
        </td>
        <td>
          <button class="btn btn-danger" (click)="borrarUsuario(item) " [disabled]="mod(item)">
            <i fa class="fa fa-trash"></i> Borrar</button>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="4">
          <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
        </td>
      </tr>
    </tfoot>
  </table>
</div>


<div class="modal fade" id="modificar" tabindex="-1" role="dialog" aria-labelledby="modificarlabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modificar Reserva</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="form-group">
          <small class="text-muted">Usuario</small>
          <input class="form-control" disabled name="indexUser" id="indexUser" #indexUser="ngModel" [(ngModel)]="index.usuario.nombres">
        </div>

        <div class="form-group">
            <small class="text-muted">Vehiculo</small>
            <input class="form-control" disabled name="indexPat" id="indexPat" #indexPat="ngModel" [(ngModel)]="index.vehiculo.patente">
        </div>

        <div class="form-group">
            <small class="text-muted">Dias de reserva</small>
            <input class="form-control" name="indexD" id="indexD" #indexD="ngModel" (ngModelChange)="precio()" [(ngModel)]="index.dias">
        </div>

        <div class="form-group">
            <small class="text-muted">Costo de renta</small>
            <input class="form-control" disabled name="indexC" id="indexC" #indexC="ngModel" [(ngModel)]="index.costoRenta">
        </div>
        <div class="form-group" *ngIf="storageservice.usuarioLogeado.perfil=='Administrador'">
          <small class="text-muted">Estado de la reserva:</small>
          <select class="form-control" required name="istate" id="istate" #istate="ngModel" [(ngModel)]="index.estado">
          <option value="pendiente">Pendiente</option>
          <option value="aceptada">Aceptada</option>
          <option value="finalizada">Finalizada</option>
          </select>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" (click)="update()">
            <i fa class="fa-save"></i> Guardar Cambios</button>
        </div>
      </div>
    </div>
  </div>