<div id="z">
  <h4 class="card-header">Reserva de Vehiculos</h4>
  <form>
    <div class="form-group">
        <small class="text-muted">Seleccione el Vehiculo</small> 
      <select class="form-control" [(ngModel)]="nuevo.vehiculo" name="cat" id="cat" #cat="ngModel" required>
          <option *ngFor="let z of vehiculoArray" [ngValue]="z.id"> {{z.patente}}</option>
      </select>
     
    </div>
    <div class="form-group row">
      <div class="col">
        <input class="form-control" disabled placeholder="Marca del vehiculo" name="marca" id="marca" #marca="ngModel" [(ngModel)]="nuevo.vehiculo.marca">
      </div>
      <div class="col">
        <input class="form-control" disabled placeholder="Modelo del vehiculo" name="modelo" [(ngModel)]="nuevo.vehiculo.modelo" #modelo="ngModel">
      </div>
    </div>
    <div class="form-group row">
      <div class="col">
        <input class="form-control" type="number" placeholder="Dias de Reserva" name="dias" id="dias" #dias="ngModel" [(ngModel)]="nuevo.dias" (ngModelChange)="precio()" required>
      </div>
      <div class="col">
        <input class="form-control" placeholder="Precio de alquiler" name="costo" #costo="ngModel" [(ngModel)]="nuevo.costoRenta" disabled>
      </div>
    </div>
  </form>
  <div class="card-footer">
    <div class="row justify-content-end" id="buttons">
      <button class="btn btn-info" (click)="consultarReservas()">
        <i fa class="fa fa-list"></i> Mis Reservas</button>
      <button class="btn btn-success" (click)="reservar()">
        <i fa class="fa fa-check" ></i> Reservar</button>
    </div>
  </div>
  <table class="table table-striped" [mfData]="reservaArray" #mf="mfDataTable" [mfRowsOnPage]="5">
    <thead>
      <tr>
        <th>
          <mfDefaultSorter by="usuario.nombres">Usuario</mfDefaultSorter>
        </th>
        <th>
          <mfDefaultSorter by="vehiculo.patente">Patente del Vehiculo</mfDefaultSorter>
        </th>
        <th>
          <mfDefaultSorter by="dias">Duracion de reserva</mfDefaultSorter>
        </th>
        <th>
          <mfDefaultSorter by="costoRenta">Costo de Renta</mfDefaultSorter>
        </th>
        <th>
          <mfDefaultSorter by="fechaRenta">Fecha de reserva</mfDefaultSorter>
        </th>
        <th>
            <mfDefaultSorter by="estado">Estado</mfDefaultSorter>
          </th>
        <th>Detalles</th>
        <th>Eliminar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of mf.data">
        <td>{{item.usuario}}</td>
        <td>{{item.vehiculo}}</td>
        <td>{{item.dias}}</td>
        <td>{{item.costoRenta}}</td>
        <td>{{item.fechaRenta.timestamp * 1000 | date: 'dd/MM/yyyy'}}</td>
        <td>{{item.estado}}</td>
        <td>
        <button class="btn btn-info" (click)="detalles(item)"><i fa class="fa fa-search"></i> Detalles</button>  
        </td>
        <td>
          <button class="btn btn-danger" (click)="borrarUsuario(item)">
            <i fa class="fa fa-trash"></i> Borrar</button>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="4">
          <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
        </td>
      </tr>
    </tfoot>
  </table>
</div>