<div id="z">
  <h4 class="card-header">Novedades</h4>
  <form id="f">
    <div class="form-group">
      <small class="text-muted">Seleccione el vehiculo:</small>
      <select class="form-control">
        <option>1</option>
      </select>
    </div>
    <div class="form-group row">
      <div class="col">
        <span>Ingrese su mensaje:</span>
      </div>
      <div class="col">
        <span>Caracteres restantes:</span>
      </div>
    </div>
    <div class="form-group">
      <textarea rows="5" class="form-control"></textarea>
    </div>
   
  </form>
  <div class="card-footer">
      <div class="row justify-content-end">
        <button class="btn btn-success" id="b"> <i fa class="fa fa-check"></i> Enviar</button>
      </div>
    </div>
</div>